#question{
    margin:0;
    background-color:white;
    padding:1.5rem;
    min-height: 200px;
    min-width: 200px;
    overflow: auto;

}

#questionpq{
    background-color:#f5f5f0;
    margin-bottom:2rem;
    min-height: 300px;
    min-width: 200px;
    overflow: auto;

}

#report{
    margin:0;
    background-color:#f5f5f0;
    padding:1.5rem;
    min-height: 150px;
    min-width: 200px;
}



#questiontitle{
    font-family: 'QuanticoRegular';
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60ch;

}
#questiontitlesquare{
    padding:0;
    margin:0;
    width: 100%;
    float:left;
    overflow: auto;

}

#questioncategorysquare{
    float:left;
    width: 20%;
    overflow: auto;

}

#questioncategorysquare > a{
    color:black;
    font-family: 'QuanticoRegular';

}

#questionusersquare{
    width: 80%;
    float:left;
    text-align: left;
    padding-left: 1rem;
    overflow: auto;

}

#answerusersquare{
    width: 80%;
    float:left;
    text-align: left;
    padding-left: 1rem;
    overflow: auto;

}

#questionusers{
    font-size:80%;
    color: #008CBA;
    font-family: 'QuanticoRegular';
    overflow: auto;

}

#answerusers{
    font-size:80%;
    color: #008CBA;
    font-family: 'QuanticoRegular';
    overflow: auto;

}

#timeago{
    font-size:70%;
    font-family: 'QuanticoRegular';


}

#tagsofquestion{
    float:right;
    padding:0;
    margin-left:0;
    padding-left:0.2rem;
    padding-right:0.2rem;
    padding-top:1rem;
    padding-bottom:0.5rem;
    margin:0;
    overflow: auto;


}



#tagsofquestion > a{
    padding-left:0.2rem;
    padding-right:0.2rem;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
    margin:0.2 rem;


}

#questionbuttonsection{
    clear: both;
    float:left;
    margin:0;
    padding:0;
    padding-top:1rem;
    overflow: auto;


}
#questionbuttonsection > a > span{
    margin:0;
    padding:0;

}

#questionbuttonsection > a{
    font-size:80%;
    padding-left:0.2rem;
    padding-right:0.2rem;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
    margin:0.2 rem;

}


.questionvotesection{
    clear: both;
    float:left;
    margin:0;
    padding:0;
    padding-top:1rem;
    overflow: auto;


}
.questionvotesection > button > span{
    margin:0;
    padding:0;

}

.questionvotesection > button{
    font-size:150%;
    padding-left:0.2rem;
    padding-right:0.2rem;
    padding-top:0.2rem;
    padding-bottom:0.5rem;
    margin:0.2 rem;

}

#tagsofquestion > a > span{
    padding-left:0.1rem;
    padding-right:0;
    padding-top:0;
    padding-bottom:0.5rem;
    margin:0;

}

.Taags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding-right:0;
    padding-bottom: 1rem;
}

.Taag {
    color: #c9302c;
    font-size: 80%;
    padding:1rem;
    font-family: 'QuanticoRegular';
}

#button_tag{
    color: #c9302c;
    font-size: 80%;
    padding:1rem;
    font-family: 'QuanticoRegular';
}

#tabname{
    font-family: 'QuanticoRegular';
}

.bestanswer{
    background-color: #edf7ee;
    padding:1.5rem;
    min-height: 220px;
    min-width: 200px;
    padding-bottom:2.5rem;
    overflow: auto;

}

#answer{
    padding:1.5rem;
    min-height: 160px;
    min-width: 200px;
    padding-bottom:6.5rem;
    overflow: auto;

}

.upquestion, .downquestion, .linkReportQuestion, .linkReportAnswer, .linkDeletePost{
    background-color: Transparent;
    border: 0;
}

.reportPost, .deletePost{
    color:#c9302c;
}

#questionbuttonsection > .linkReportQuestion > .reportPost{
    padding-left: 10px;
}



#questionbuttonsection > .linkReportAnswer > .reportPost{
    padding-left: 10px;
}

#questionbuttonsection > .linkDeletePost > .deletePost{
    padding-left: 10px;
}

.messageAnswer{
    color: red;
    display: none;
}



.modalAnswer, .modalQuestion {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-contentAnswer, .modal-contentQuestion{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.closeAnswer, .closeQuestion {
    color: #aaaaaa;
    float: right;
    font-size: 28px;


    font-weight: bold;
}

.closeAnswer:hover,
.closeAnswer:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeQuestion:hover,
.closeQuestion:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.reportArea{
    height: 200px;
    background-color: white;
}