@font-face {
	font-family: 'QuanticoRegular';
	src: url('./QuanticoRegular.eot');
	src: local('QuanticoRegular'), url('./QuanticoRegular.woff') format('woff'), url('./QuanticoRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_60991">Text with this font applied</p> */
.fontsforweb_fontid_60991 {
	font-family: 'QuanticoRegular' !important;
}

/* Font downloaded from FontsForWeb.com */